     #This block describes properties for account-service.

#The database name.
DB_NAME_ACCOUNT

#Internal database port.
DB_PORT_ACCOUNT

#External database port for access to db from host machine.
DB_HOST_PORT_ACCOUNT

#Database username for account-service.
DB_USER_ACCOUNT

#Database host where it's installed.
DB_HOST_ACCOUNT

#Database password.
DB_PASS_ACCOUNT

#Path to the picture's storage location and logs.
APP_DIR_ACCOUNT

#External application port for access to app from host machine.
APP_HOST_PORT_ACCOUNT

#Internal application port.
APP_PORT_ACCOUNT

#Credentails (id) for account-service (oauth2+keycloak)
OAUTH2_CLIENT_ID_ACCOUNT

#Credentails (secret) for account-service (oauth2+keycloak)
OAUTH2_SECRET_ACCOUNT

       #This block describes url's which are used in this app.

#Url for interaction with notification-service.
NOTIFICATION_SERVICE_URL

#Url for interaction with account-service.
ACCOUNT_SERVICE_URL

#Url for interaction with api-gateway.
GATEWAY_API_URL

       #This block describes properties for security of this multimodule app.

#Login for admin panel in keycloak server.
 KEYCLOAK_ADMIN_LOGIN

#Password for admin panel in keycloak server.
 KEYCLOAK_ADMIN_PASS

 #Internal keycloak port
 KEYCLOAK_PORT=8080

 #External keycloak port
 KEYCLOAK_HOST_PORT=8080

 #Keycloak host where deployed.
 KEYCLOAK_HOST=keycloak

