     #This block describes properties for account-service.

#The database name.
DB_NAME_ACCOUNT
#Internal database port.
DB_PORT_ACCOUNT
#External database port for access to db from host machine.
DB_HOST_PORT_ACCOUNT
#Database username for account-service.
DB_USER_ACCOUNT
#Database host where it's installed.
DB_HOST_ACCOUNT
#Database password.
DB_PASS_ACCOUNT
#Path to the picture's storage location and logs.
APP_DIR_ACCOUNT
#External application port for access to app from host machine.
APP_HOST_PORT_ACCOUNT
#Internal application port.
APP_PORT_ACCOUNT
#Credentails (id) for account-service (oauth2+keycloak)
OAUTH2_CLIENT_ID_ACCOUNT
#Credentails (secret) for account-service (oauth2+keycloak)
OAUTH2_SECRET_ACCOUNT

     #This block describes properties for cash-service.

#The database name.
DB_NAME_CASH
#Internal database port.
DB_PORT_CASH
#External database port for access to db from host machine.
DB_HOST_PORT_CASH
#Database username for cash-service.
DB_USER_CASH
#Database host where it's installed.
DB_HOST_CASH
#Database password.
DB_PASS_CASH
#Path to the picture's storage location and logs.
APP_DIR_CASH
#External application port for access to app from host machine.
APP_HOST_PORT_CASH
#Internal application port.
APP_PORT_CASH
#Credentails (id) for cash-service (oauth2+keycloak)
OAUTH2_CLIENT_ID_CASH
#Credentails (secret) for cash-service (oauth2+keycloak)
OAUTH2_SECRET_CASH

     #This block describes properties for transfer-service.

#The database name.
DB_NAME_TRANSFER
#Internal database port.
DB_PORT_TRANSFER
#External database port for access to db from host machine.
DB_HOST_PORT_TRANSFER
#Database username for transfer-service.
DB_USER_TRANSFER
#Database host where it's installed.
DB_HOST_TRANSFER
#Database password.
DB_PASS_TRANSFER
#Path to the picture's storage location and logs.
APP_DIR_TRANSFER
#External application port for access to app from host machine.
APP_HOST_PORT_TRANSFER
#Internal application port.
APP_PORT_TRANSFER
#Credentails (id) for transfer-service (oauth2+keycloak)
OAUTH2_CLIENT_ID_TRANSFER
#Credentails (secret) for transfer-service (oauth2+keycloak)
OAUTH2_SECRET_TRANSFER

     #This block describes properties for api-gateway.

#Path to the picture's storage location and logs.
APP_DIR_GATEWAY
#External application port for access to app from host machine.
APP_HOST_PORT_GATEWAY
#Internal application port.
APP_PORT_GATEWAY

    #This block describes properties for notification-service.

#Path to the picture's storage location and logs.
APP_DIR_NOTIF
#External application port for access to app from host machine.
APP_HOST_PORT_NOTIF
#Internal application port.
APP_PORT_NOTIF

        #This block describes properties for bank-ui.

#Path to the picture's storage location and logs.
APP_DIR_UI
#External application port for access to app from host machine.
APP_HOST_PORT_UI
#Internal application port.
APP_PORT_UI
#Credentails (id) for bank-ui (oauth2+keycloak)
OAUTH2_CLIENT_ID_UI
#Credentails (secret) for bank-ui (oauth2+keycloak)
OAUTH2_SECRET_UI

       #This block describes url's which are used in this app.

#Url for interaction with notification-service.
NOTIFICATION_SERVICE_URL
#Url for interaction with account-service.
ACCOUNT_SERVICE_URL
#Url for interaction with api-gateway.
GATEWAY_API_URL

       #This block describes properties for security of this multimodule app.

#Login for admin panel in keycloak server.
 KEYCLOAK_ADMIN_LOGIN
#Password for admin panel in keycloak server.
 KEYCLOAK_ADMIN_PASS
 #Internal keycloak port
 KEYCLOAK_PORT
 #External keycloak port
 KEYCLOAK_HOST_PORT
 #Keycloak host where deployed.
 KEYCLOAK_HOST
 #Keycloak url host+port(for Kuber)
 KEYCLOAK_EXTERNAL_URL

